html {
    justify-content: center;
    text-align: center;
    min-height: 100%;
    background-color: antiquewhite;
}

@media screen (max-width: 1000px) {
 #flex {
  background-color: burlywood;
  padding: 2px 3px 2px 3px;
  }
  @media screen (max-width: 1000px) {
      .body {
        text-align: center;

      }
    }


  #top {
    width: auto;
  }
  .introPic {
      flex-wrap: wrap;
      padding: 5px 3px 5px 3px;
      width: 200px;
      height: 200px;
  }

/* .container  {
  text-align: center;
  justify-content: center;
  flex-direction: row;
} */
@media screen and (max-width: 1000px) {
  .body {
    display: flex;
  }
}
@media screen and (max-width: 700) {
  #introPic {
    display: flex;
  }
}
/* @media screen (max-width: 1000px) {
  .earlyCareer,
  .proCareer,
  .acting {
    display: flex;
    flex-wrap: wrap;
  }
} */

.body {
  text-align: center;
  font-size: 18px;
  max-width: 1000px
}
@media (max-width: 1000px) {
  *{
  background-color: burlywood;

  }
  .andrePro {
    flex-wrap: wrap;
    max-width: 500px;
  }
}
h1 {
  font-size: 50px;
}

.andreActing {
  flex-wrap: wrap;
  width: 500px;
  padding: 2px;
}

div {
  border: 8px solid burlywood;
  margin: 10px;
}


  .box div {
    width: 100px;
    height: 100px;
    float: left;
  }


.bio > li {
  text-align: center;
  padding: 2px;
}

@media (max-width: 1000px) {
  *{
  background-color: burlywood;

  }
#pro {
  width: auto;
}
#proCareer {
  align-self: auto;
  justify-content: center;

}
#achievements {
  justify-content: center;
}
#achievements > li {
  text-align: center;
  padding: 2px;
}
