html, body{
    justify-content: center;
    min-height: 100%;
    position: relative;
    text-align: center;
    background-color: antiquewhite;
}
@media screen (max-width: 1000px) {
  *{
  background-color: burlywood;
  padding: 2px;
  display: flex; */
  }

  #top {
    width: auto;
  }
  .introPic {
      resize: both;
      border: .5rem black;
      box-shadow: 0 0 0 2rem gray;
      width: 200px;
      height: 200px;
  }

.container  {
  text-align: center;
  justify-content: left;
  flex-direction: row;
}
@media screen (max-width: 1000px) {
  .body {
  align-items: stretch;
  background-color: burlywood;
  padding: 2px

  }
}
.body {
  text-align: center;
  font-size: 18px;
  width: 570px;
}
@media (max-width: 700px) {
  *{
  background-color: burlywood;

  }
  .andrePro {
    flex-wrap: wrap;
    width: 500px;
  }
}
h1 {
  font-size: 50px;
}

.andreActing {
  flex-wrap: wrap;
  width: 500px;
}

div {
  border: 8px solid burlywood;
  margin: 10px;
}


  .box div {
    width: 100px;
    height: 100px;
    float: left;
  }

#bio {
  justify-content: left;
}
#bio > li {
  text-align: left;
  padding: 2px;
}
@media (max-width: 1000px) {
  *{
  background-color: burlywood;

  }
#pro {
  width: auto;
}
#proCareer {
  align-self: auto;
  justify-content: center;

}
#achievements {
  justify-content: left;
}
#achievements > li {
  text-align: left;
  padding: 2px;
}
