body {
  background-color: #d9b24f;
  box-sizing: border-box;
  width: 100%;
  border: solid #000000 10px;
  padding: 5px;
}

.barberImage {
    width: 200px;
    border: 10px ridge #f00;
    background-color: black;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

h1 {
  background-color: #ffffff;
  padding: 1em;
  color: #fb0606;
  font-size: 2em;
  font-weight: 600;
}

list-of-why > ul > li {
  color: white
  border: solid 2px;
  padding: .33em;
  display: inline-block;
}

footer {
  padding: .5em;
  background-color: #ADA8B6;
}
